# 🐍 Python
__pycache__/
*.pyc
*.pyo
*.pyd
*.pyc

# 🏗 Среды разработки
env/
venv/
.idea/
.vscode/

# 🐳 Docker
Dockerfile
docker-compose.yml

# 💾 Логи и временные файлы
*.log
*.tmp
*.bak

# 📦 Папки и файлы Git
.git/
.gitignore

# 📂 Секреты и переменные окружения
*.env
.env

# 📚 Документация и тесты (если не нужны в проде)
tests/
*.md
